name: website
on:
  push:
    branches:
      - main
      - docs/*
  pull_request:
    branches:
      - main
env:
  COLUMNS: 150

jobs:
  publish:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: install
        run: pip install uv

      - name: Set git credentials
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - run: uv run --extra doc mike deploy -b gh-pages dev --push
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'

      - name: Build docs for PR validation
        run: uv run --extra doc mike deploy -b gh-pages dev
        if: github.event_name == 'pull_request'

      - if: startsWith(github.ref, 'refs/heads/docs')
        id: check-version
        uses: samuelcolvin/check-python-version@v4.1
        with:
          version_file_path: 'src/your_package_name/__about__.py'
          skip_env_check: true

      - run: uv run --extra doc mike deploy -b gh-pages ${{ steps.check-version.outputs.VERSION }} latest --update-aliases --push
        if: startsWith(github.ref, 'refs/heads/docs') && !fromJSON(steps.check-version.outputs.IS_PRERELEASE) && github.event_name == 'push'
        env:
           VERSION: v${{ steps.check-version.outputs.VERSION }}
